<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <nav class="navbar navbar-inverse " role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('postslist') }}">Posts</a>
                    </li>
                    {% if app.user %}
                        
                        <li>
                            <a href="{{ path('createpost') }}">New post </a>
                        </li>
                    {% endif %}
                   
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    
                        {% if app.user %}
                            <li>
                                <a>Witaj, {{ app.user.username }} </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">Log out </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">Log in </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}">Register </a>
                            </li>
                        {% endif %}
                    </li>
                </ul>
            </div>
           
        </div>
    </nav>
    
        {% block body %}{% endblock %}

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
