{% trans_default_domain 'FOSUserBundle' %}

<h3>Register</h3>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="form-group">
	

    {{ form_row(form.email,{ 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
    {{ form_row(form.username,{ 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.plainPassword.first,{ 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
	{{ form_row(form.plainPassword.second,{ 'attr': {'class': 'form-control'} }) }}
</div>
    <div>
        <input class="btn btn-default" type="submit" value="Register" />
    </div>
{{ form_end(form) }}
