{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<h3>Log in</h3>

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" name="_password" required="required" />
    </div>
    <div class="checkbox">
        
        <label for="remember_me"> <input type="checkbox" id="remember_me"  name="_remember_me" value="on" /> Remember me?</label>
    </div>
    <div class="form-group">
        <input type="submit" id="_submit" name="_submit" value="Log in" class="btn btn-default"/>
        </div>
</form>
