{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>New Post</h1>
			{{ form_start(form, {'action': path('storepost'), 'method': 'POST'}) }}
			<div class="form-group">
				{{ form_row(form.title,{ 'attr': {'class': 'form-control'} }) }}
			</div>
			<div class="form-group">
				
				{{ form_row(form.content,{ 'attr': {'class': 'form-control'} }) }}
			</div>
			{{ form_end(form) }}

		</div>
	</div>
</div>
{% endblock %}


