{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
		{% for post in posts %}
		<div class="col-xs-6">
			<h1>{{post.title}} <small>{{ post.created|date('Y-m-d H:i:s') }}</small></h1>
			<hr>
			<div>
				{{post.content|slice(0, 100)}}
				<br />
				<a href="{{ path('showpost',{'id' : post.id } ) }}">read more ...</a>
			</div>
		</div>
        {% endfor %}

	</div>
</div>

 
{% endblock %}