{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>{{ post.title }} <br />
				<small>Posted on {{ post.created|date('Y-m-d H:i:s') }} by {{ post.user.username }}</small>
			</h1>
			<hr>
			<div>
				{{post.content}}
				<br />
				
			</div>
			<hr style="margin-top: 20px;">
			{% if app.user %}
             	<h4>Add Comment</h4>
             	<form method="POST" class="comment-form" action="{{ path('storecomment') }}" >
             		<div class="form-group">
             			
						<label for="comment-content">Content:</label> <br />
						<textarea id="comment-content" class="form-control"  name="content"></textarea>			 <br />
             		</div>
             		<div class="form-group">
	             			
						<input type="text" class="disabled form-control" disabled value="{{ post.user.username }}" /> 
						<input type="hidden" name="post" value="{{post.id}}" />
						<input type="hidden" name="user" value="{{post.user.id}}" />
             		</div>
             		<div class="form-group">
             			
			        	<button type="submit" class="btn btn-primary">Send</button>
             		</div>
		    	</form>
	            
            {% endif %}
			<h4>Comments</h4>
			 	<div class="comments-container">

			 	</div>
		</div>

	</div>
</div>

 
{% endblock %}

{% block javascripts %}
<script>
$(function() {
	$.ajax({
    	url: '/comment/list/{{post.id}}',
    })
    .done(function(data) {
    	console.log(data);
    	$('.comments-container').html(data);
    });
})
 $('body').on('submit', '.comment-form', function (e) {
 
        e.preventDefault();
 
        $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize()
        })
        .done(function (data) {
            $.ajax({
            	url: '/comment/list/{{post.id}}',
            })
            .done(function(data) {
            	console.log(data);
            	$('.comments-container').html(data);
            })
        })
        
    });
</script>
{% endblock %}
