
<div class="container">
	<div class="row">
		{% for comment in comments %}
		<div class="col-xs-12">

			<hr>
			<div>
				{{comment.content}}
			</div>
			<div>
				<small>Written by: {{comment.user.username}} at {{ comment.created|date('Y-m-d H:i:s') }}</small>
			</div>
		</div>
        {% endfor %}

	</div>
</div>

 
